.input_done {
  min-height: 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  border-left: none;
  border-right: none;
  background-color: rgb(148, 113, 178);
  border-top: 1.5px solid rgb(166, 160, 170);
  border-bottom: 1.5px solid rgb(166, 160, 170);
  color: white;
}
.input{
    background-color: rgb(166, 160, 170);
}
.input:focus {}