.input {
  min-height: 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  border-left: none;
  border-right: none;
  border-top: 1.5px solid rgb(83, 5, 135);
  border-bottom: 1.5px solid rgb(83, 5, 135);
  /* border-bottom: 1.5px solid rgb(166, 160, 170); */
  background-color: rgb(148, 113, 178);
  color: white;
  /* background-color: rgb(243, 233, 252);
  color: rgb(148, 113, 178) ; */
}
