.inputWrapper{
  display: flex;
  flex-direction: column;
}
.input {
  min-height: 40px;
  margin:5px auto;
  border-radius: 10px;
  font-size: 16px;
  font-family: Nunito;
  font-weight: bold;
  border: none;
  text-align: center;
}
.saved{
  background-color: var(--color-secondary);
  color: white;
}
.open{
  background-color: var(--color-input);
  color:var(--color-primary);
}
.error{
  background-color: var(--color-error);
  border: 2px solid rgba(255, 0, 0, 0.441);
}
.error_text{
  margin: 0;
  font-size: 14px;
  color: rgba(255, 0, 0, 0.441);
}
@media screen and (max-width: 768px) {
  .input{
    width: 150px;
  }
}
@media screen and (max-width: 567px) {
  .input{
    width: 100px;
  }
} 
@media screen and (max-width: 375px) {
  .input{
    width: 80px;
  }
} 