.button {
    width: 35px;
    min-height: 35px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-secondary);
    opacity: 0.5;
    box-shadow: 1px 1px 1px rgb(31, 2, 50);
}
.image {
    width: 16px;
    margin: auto;
}