.button {
  display: flex;
  width: 50px;
  min-height: 35px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.image {
  width: 16px;
  margin: auto;
  align-items: center;
}
.false{

}
.false:hover {
  transform: scale(1.3);
  transition: transform 1s;
}
.true {

}

.clear {
  width: 50px;
  min-height: 35px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: none;
}
.primary {
  background-color: var(--color-primary);
}
.secondary {
  background-color: var(--color-secondary);
}
@media screen and (max-width: 900px) {
  .button {
    width: 40px;
  }
}
@media screen and (max-width: 500px) {
  .button {
    width: 30px;
  }
  .image {
    width: 12px;
  }
}
