.cardbutton{
    width: 150px;
    height: 30px;
    background-color: var(--color-secondary);
    color: white;
    /* background-color: var(--color-primary);
    color: var(--color-secondary); */
    border-radius: 10px;
    border: none;
}