.cardbutton{
    width: 100px;
    height: 40px;
    background-color: var(--color-primary);
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.cardbutton:hover{
    background-color: var(--color-secondary);

    /* transform: scale(1.1); */
    transition: background-color 1.5s;
}