.cardbutton{
    width: 100px;
    height: 40px;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.cardbutton:hover{

    transform: scale(1.1);
}