.container {
  display: flex;
  gap: 5px;
  justify-content: center;

  height: 50px;
  background-color: var(--color-secondary);
  border-radius: 5px;
}
.container_input {
  display: flex;
  gap: 5px;
  color: white;
}
.container_buttons {
  display: flex;
  gap: 5px;
}
