.container {
    display: flex;
    gap: 5px;
    justify-content: center;
}
.container_input{
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    color:white;
}
.container_buttons{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}