.container {
width: 200px;
height: 250px;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
background-color: white;
border-radius: 10px;
border: 2px solid var(--color-secondary);
}
.container_words{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.term{
    margin: 0;
    font-size: 28px;
    
}
.transcript{

}
.translation{

}