@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-ExtraBold.ttf") format("truetype"),
    url("./fonts/Montserrat-Medium.ttf") format("truetype"),
    url("./fonts/Montserrat-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype"),
    url("./fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Kanit";
  src: url("./fonts/Kanit-Black.ttf") format("truetype"),
    url("./fonts/Kanit-BlackItalic.ttf") format("truetype"),
    url("./fonts/Kanit-Bold.ttf") format("truetype");
}
