.containerouter {
  background-image: url(../../assets/image/svg/error_window_icon.svg);
  animation: animatedBack 20s linear infinite;
  height: 75vh;
  display: flex;
}
@keyframes animatedBack {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -600px 600px;
  }
}

.textcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto 20px;
  width: 45%;
  height: 80%;
  padding: 20px;
  backdrop-filter: blur(30px);
  color: white;
  border-radius: 20px;
}
.error {
  border-radius: 20px;
  font-size: 12px;
}
.header {
  text-align: start;
  font-size: fit-content;
}
.link {
  width: 75px;
  height: 30px;
  color: var(--color-secondary);
  border-radius: 10px;
  padding-top: 10px;
  background-color: white;
  text-decoration: none;
}
.link:hover {
  background-color: var(--color-primary);
  color: white;
  transition: background-color 2s;
}
.errornumber {
  margin: 0;
  font-size: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
}
