

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  font-style:normal;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: var(--color-primary);
  /* background-color: rgb(148, 113, 178); */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --color-primary:rgb(43, 39, 70);
  --color-secondary:rgb(151, 148, 176);
  --color-input:rgb(255, 255, 255);
  --color-error:rgb(255, 222, 222);
  --fontsize: 16px;
  /* --color-primary:rgb(182, 178, 207);
  --color-secondary:rgb(43, 39, 70); */
}
